{% extends "base.html" %}
{% block content %}
      <div class="container">
        <div class="page-header">
          <h1>{% trans %}Spoof &middot; Twitter Edition{% endtrans %}</h1>
        </div>
        <p class="lead">{% trans %}Challenge accepted{% endtrans %}!
        &nbsp;<a id="btn-restart" style="display:none;" class="btn btn-mini" href="#"><i class="icon-repeat"></i> {% trans %}start again{% endtrans %}</a>
        <p>

        <div id="adversary_hold">
            <p>{% trans %}How many coins do you want to hold{% endtrans %}?</p>
            <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn btn-hold" type="button">0</button>
                <button class="btn btn-hold" type="button">1</button>
                <button class="btn btn-hold" type="button">2</button>
                <button class="btn btn-hold" type="button">3</button>
            </div>
        </div>
        <br/>
        <div id="adversary_guess" style="display:none">
            <p>{% trans %}What's your guess{% endtrans %}?</p>
            <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn btn-guess" id="btn-guess-0" type="button">0</button>
                <button class="btn btn-guess" id="btn-guess-1" type="button">1</button>
                <button class="btn btn-guess" id="btn-guess-2" type="button">2</button>
                <button class="btn btn-guess" id="btn-guess-3" type="button">3</button>
                <button class="btn btn-guess" id="btn-guess-4" type="button">4</button>
                <button class="btn btn-guess" id="btn-guess-5" type="button">5</button>
                <button class="btn btn-guess" id="btn-guess-6" type="button">6</button>
            </div>
        </div>
        <br/>
        <div id="make_guess" style="display:none;">
            <p>{% trans %}Click to send your guess{% endtrans %}:</p>
            <a id="btn-challenge" class="btn" href="#"><i class="icon-thumbs-up"></i> {% trans %}make your guess{% endtrans %}</a>
        </div>
      </div>

{% endblock %}
{% block extra_foot %}
    <script src="{{ url_for('static', filename='media/js/challenge.js') }}"></script>
    <script type="text/javascript">
        var moveid = '{{ moveid }}';
    </script>
{% endblock %}

