{% extends "base.html" %}
{% block content %}
      <div class="container">
        <div class="page-header">
          <h1>Spoof &middot; Twitter Edition</h1>
        </div>
        <p class="lead">Challenge your followers!
        &nbsp;<a id="btn-restart" style="display:none;" class="btn btn-mini" href="#"><i class="icon-repeat"></i> start again</a>
        <p>

        <div id="initiator">
            <p>Enter your Twitter username:</p>
            <div class="input-prepend">
                <span class="add-on">@</span>
                <input class="span2" id="id_initiator" type="text" placeholder="Username">
            </div>
        </div>
        <div id="initiator_hold" style="display:none">
            <p>How many coins do you want to hold:</p>
            <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn btn-hold" type="button">0</button>
                <button class="btn btn-hold" type="button">1</button>
                <button class="btn btn-hold" type="button">2</button>
                <button class="btn btn-hold" type="button">3</button>
            </div>
        </div>
        <div id="initiator_adversary" style="display:none">
            <br/><p>Now enter your adversary's Twitter username:</p>
            <div class="input-prepend">
                <span class="add-on">@</span>
                <input class="span2" id="id_adversary" type="text" placeholder="Username">
            </div>
        </div>
        <div id="initiator_guess" style="display:none">
            <p>And finally make your guess:</p>
            <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn btn-guess" id="btn-guess-0" type="button">0</button>
                <button class="btn btn-guess" id="btn-guess-1" type="button">1</button>
                <button class="btn btn-guess" id="btn-guess-2" type="button">2</button>
                <button class="btn btn-guess" id="btn-guess-3" type="button">3</button>
                <button class="btn btn-guess" id="btn-guess-4" type="button">4</button>
                <button class="btn btn-guess" id="btn-guess-5" type="button">5</button>
                <button class="btn btn-guess" id="btn-guess-6" type="button">6</button>
            </div>
        </div>
        <div id="tweet_btn" style="display:none">
            <br/><p id="msgsend">Click the Tweet button to send the challenge to your follower:</p>
            <a href="" class="twitter-share-button" data-lang="en">Tweet</a>
        </div>
      </div>
{% endblock %}
{% block extra_foot %}
    <script src="{{ url_for('static', filename='media/js/app.js') }}"></script>
{% endblock %}
